# backend/.env.example

# Application
APP_NAME=ContextOS
APP_VERSION=0.1.0
DEBUG=False
API_V1_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql+asyncpg://contextos:L2lb0AdqhD1S6Wp2rg8EmEsxClHPf2mD@dpg-d6op1tvkijhs73ahosn0-a.singapore-postgres.render.com/contextos

# Redis
REDIS_URL=redis://red-d6q30dh4tr6s73d4bha0:6379

# Qdrant
QDRANT_HOST=https://43cc73a8-0797-4eb2-ad44-8867485e10f4.us-east4-0.gcp.cloud.qdrant.io
QDRANT_PORT=6333
QDRANT_COLLECTION=context_chunks
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.N-YSOb1DSWiXd1Ru66yDWUL1Od76CF3NDztPLypD_Iw
# JWT
JWT_SECRET_KEY=15eebf34455a575cc3cc63fb121d0ac62a342a69b21cee97c0b4ad578402fc40
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# Encryption (AES-256-GCM for OAuth tokens)
ENCRYPTION_KEY=2676b3ea36de7c64885893eb8089527d732074b8818491b68dcaf32d33b9e39a

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23li4QfAvqloxUsa5q
GITHUB_CLIENT_SECRET=0d7cdff86e5ef53b8edbf6a95320575ef1b7e7e7
GITHUB_WEBHOOK_SECRET=98790c55be862d7805429734ea3e3a45ad325f55fbd2b2aabd8cdccb2a1f85cf
GITHUB_REDIRECT_URI=https://contextos.learnmade.in/api/v1/integrations/github/callback
# Notion OAuth
NOTION_CLIENT_ID=320d872b-594c-81bf-b07a-0037115dcb50
NOTION_CLIENT_SECRET=secret_2wZrEfxBkWxKFucqfPcAlKXoVmVf04SI5V4JF3ger8t
NOTION_REDIRECT_URI=https://contextos.learnmade.in/api/v1/integrations/notion/callback

# Slack OAuth
SLACK_CLIENT_ID=10691269149041.10678377686722
SLACK_CLIENT_SECRET=f2a2f196b9c641d5ef0f035cfa3ef396
SLACK_SIGNING_SECRET=c44797d743a838f5ebd115a5e384366e
SLACK_REDIRECT_URI=https://contextos.learnmade.in/api/v1/integrations/slack/callback
# OpenAI
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_PRO_PLAN_ID=
RAZORPAY_TEAM_PLAN_ID=
RAZORPAY_WEBHOOK_SECRET=

# Frontend
FRONTEND_URL=https://contextos.learnmade.in
ENVIRONMENT=production
BACKEND_URL=https://contextos-api-jxdr.onrender.com

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:8000,https://contextos.learnmade.in

# Rate limits
RATE_LIMIT_FREE=50/day
RATE_LIMIT_PRO=1000/day
